{% extends 'main/header.html' %}

{% block content%}
    <title class="white-text">CV: Sander Stokseth Skjulsvik</title>
    <h1 class="white-text"> Sander Stokseth Skjulsvik </h1>
    <hr>
    <div class="row">
        <div class="col s12">
            <h2 class="white-text">Education</h2>
            <div class="card blue-grey darken-1">
                <!-- <span class="card-title"><h2 class="white-text">Education</h2></span> -->
                <!-- <hr> -->
                <div class="card-content">

                    <h3 class="white-text" >Universitetet i Oslo, 2017.08.15 - 2021.06.xx</h3>
                    <hr>
                    <p class="white-text">Description: </p>
                    <p class="white-text"><a href="https://www.uio.no/studier/program/matematikk-informatikk/index.html" >Matematikk med informatikk</a>: <a href="https://www.uio.no/studier/program/matematikk-informatikk/studieretninger/statistikk/index.html">Statistikk og Data Science (studieretning)</a> with election courses focused on Informatics.
                    </p>
                    <p class="white-text"> Finished courses: </p>
                    <p class="white-text">
                        <a href="https://www.uio.no/studier/emner/matnat/math/MAT-INF1100/index.html">MAT-INF1100 – Modellering og beregninger</a>, <a href="https://www.uio.no/studier/emner/matnat/math/MAT1100/index.html">MAT1100 – Calculus</a>, <a href="https://www.uio.no/studier/emner/matnat/ifi/IN1900/index.html">IN1900 – Introduction to Programming with Scientific Applications</a>, <a href="https://www.uio.no/studier/emner/matnat/math/MAT1110/index.html">MAT1110 – Calculus and Linear Algebra</a>, <a href="https://www.uio.no/studier/emner/matnat/math/MEK1100/index.html">MEK1100 – Vector Calculus</a>, <a href="https://www.uio.no/studier/emner/matnat/math/STK1100/index.html">STK1100 – Probability and Statistical Modelling</a>, <a href="https://www.uio.no/studier/emner/sv/oekonomi/ECON1210/index.html">ECON1210 – Mikroøkonomi 1</a>
                    </p>
                    <p class="white-text">Current courses:</p>
                    <p class="white-text">
                        <a href="https://www.uio.no/studier/emner/matnat/math/STK1110/index.html">STK1100 – Probability and Statistical Modelling</a>, <a href="https://www.uio.no/studier/emner/matnat/ifi/IN2090/">IN2090 - Databaser og datamodellering</a>, <a href="https://www.uio.no/studier/emner/matnat/ifi/IN1910/">IN1910 - Programming with Scientific Applications
                        </a>
                    </p>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content">
                    <h3 class="white-text">Byåsen videregående skole, 2014 Spring – 2017 Autumn</h3>
                    <hr>
                    <p class="white-text">Description: REALFA - specialization in mathematics S2, teknologi og forskningslære 2 </p>
                    <p class="white-text"></p>
                </div>
            </div>
            <div class="card">
                
            </div>
        </div>
    </div>
    
    
    <hr>
    <h2 class="white-text">Education</h2>
    <hr>
    <h3 class="">University of Oslo</h3>



{% endblock %}


<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>