<head>
  {% load static %}
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>

<body class="blue-grey darken-4">

{% include "main/includes/navbar.html" %}
{% include "main/includes/messages.html" %}

 <div class="container blue-grey darken-4 ">
   {%  block content %}
   {% endblock %}
 </div>
</body>

<script>M.AutoInit();</script>
